{% extends "b.html" %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
     <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
       <div class="welcome-text">
        <h4>
         Add Student
        </h4>
       </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
       <ol class="breadcrumb">
        <li class="breadcrumb-item">
         <a href="index.html">
          Home
         </a>
        </li>
        <li class="breadcrumb-item active">
         <a href="javascript:void(0);">
          Students
         </a>
        </li>
        <li class="breadcrumb-item active">
         <a href="javascript:void(0);">
          Add Student
         </a>
        </li>
       </ol>
      </div>
     </div>
     <div class="row">
      <div class="col-xl-12 col-xxl-12 col-sm-12">
       <div class="card">
        <div class="card-header">
         <h5 class="card-title">
          Basic Info
         </h5>
        </div>
        <div class="card-body">
         <form method="POST" enctype='multipart/form-data'>
             {% csrf_token %}
          <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              First Name
             </label>
             <input class="form-control" type="text" name="firstname" />
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Last Name
             </label>
             <input class="form-control" type="text" name="lastname"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Email
             </label>
             <input class="form-control" type="email" name="email"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Admission Date
             </label>
             <input class="datepicker-default form-control" type="date" id="datepicker" name="registration_date"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Roll No.
             </label>
             <input class="form-control" type="number" name="roll_no"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Class
             </label>
             <select class="form-control" name="sub_class">
              <option value="Class">
               Class
              </option>
              <option value="html">
               HTML
              </option>
              <option value="css">
               CSS
              </option>
              <option value="javascript">
               JavaScript
              </option>
              <option value="angular">
               Angular
              </option>
              <option value="angular">
               React
              </option>
              <option value="vuejs">
               Vue.js
              </option>
              <option value="ruby">
               Ruby
              </option>
              <option value="php">
               PHP
              </option>
              <option value="asp">
               ASP.NET
              </option>
              <option value="python">
               Python
              </option>
              <option value="mysql">
               MySQL
              </option>
             </select>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Gender
             </label>
             <select class="form-control" name="gender">
              <option value="Gender">
               Gender
              </option>
              <option value="Male">
               Male
              </option>
              <option value="Female">
               Female
              </option>
             </select>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Mobile Number
             </label>
             <input class="form-control" type="number" name="mobile"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Parents Name
             </label>
             <input class="form-control" type="text" name="parent_name"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Parents Mobile Number
             </label>
             <input class="form-control" type="number" name="parent_mobile"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Date of Birth
             </label>
             <input class="datepicker-default form-control" type="date" id="datepicker1" name="dob"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Blood Group
             </label>
             <input class="form-control" type="text" name="blood_group"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Education
             </label>
             <input class="form-control" type="text" name="education" />
            </div>
           </div>
           <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Address
             </label>
             <textarea class="form-control" rows="5" name="address"></textarea>
            </div>
           </div>
           <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group fallback w-100">
             <input class="dropify" data-default-file="" type="file" name="image"/>
            </div>
           </div>
           <div class="col-lg-12 col-md-12 col-sm-12">
            <button class="btn btn-primary" type="submit">
             Submit
            </button>
            <button class="btn btn-light" type="submit">
             Cencel
            </button>
           </div>
          </div>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>

{% endblock content %}