{% extends "b.html" %}

{% block content %}

<div class="content-body">
    <div class="container-fluid">
     <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
       <div class="welcome-text">
        <h4>
         Edit Course
        </h4>
       </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
       <ol class="breadcrumb">
        <li class="breadcrumb-item">
         <a href="index.html">
          Home
         </a>
        </li>
        <li class="breadcrumb-item active">
         <a href="javascript:void(0);">
          Courses
         </a>
        </li>
        <li class="breadcrumb-item active">
         <a href="javascript:void(0);">
          Edit Course
         </a>
        </li>
       </ol>
      </div>
     </div>
     <div class="row">
      <div class="col-lg-12">
       <div class="card">
        <div class="card-header">
         <h4 class="card-title">
          Courses Details
         </h4>
        </div>
        <div class="card-body">
         <form action="#" method="post">
          <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Course Name
             </label>
             <input class="form-control" type="text" value="Programming"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Course Code
             </label>
             <input class="form-control" type="text" value="Pro#005"/>
            </div>
           </div>
           <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Course Details
             </label>
             <textarea class="form-control" rows="5">Why is Early Education Essential</textarea>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Start Form
             </label>
             <input class="datepicker-default form-control" id="datepicker" name="datepicker" value="7 August, 2021"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Course Duration
             </label>
             <input class="form-control" type="text" value="3 Year"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Course Price
             </label>
             <input class="form-control" type="text" value="$1500"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Professor Name
             </label>
             <input class="form-control" type="text" value="Jimmy Morris"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Maximum Students
             </label>
             <input class="form-control" type="text" value="200"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Contact Number
             </label>
             <input class="form-control" type="text" value="+01 123 456 7890"/>
            </div>
           </div>
           <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group fallback w-100">
             <label class="form-label d-block">
              Course Photo
             </label>
             <input class="dropify" data-default-file="" type="file"/>
            </div>
           </div>
           <div class="col-lg-12 col-md-12 col-sm-12">
            <button class="btn btn-primary" type="submit">
             Submit
            </button>
            <button class="btn btn-light" type="submit">
             Cencel
            </button>
           </div>
          </div>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>

{% endblock content %}