{% extends "b.html" %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
     <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
       <div class="welcome-text">
        <h4>
         Edit Professor
        </h4>
       </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
       <ol class="breadcrumb">
        <li class="breadcrumb-item">
         <a href="index.html">
          Home
         </a>
        </li>
        <li class="breadcrumb-item active">
         <a href="edit-professor.html">
          Professors
         </a>
        </li>
        <li class="breadcrumb-item active">
         <a href="javascript:void(0)">
          Edit Professor
         </a>
        </li>
       </ol>
      </div>
     </div>
     <div class="row">
      <div class="col-xl-12 col-xxl-12 col-sm-12">
       <div class="card">
        <div class="card-header">
         <h5 class="card-title">
          Basic Info
         </h5>
        </div>
       
        <div class="card-body">
         <form method="POST" enctype='multipart/form-data'>
             {% csrf_token %}
          <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              First Name
             </label>
             <input class="form-control" type="text" name="firstname" value="{{profs.firstname}}"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Last Name
             </label>
             <input class="form-control" type="text" name="lastname" value="{{profs.lastname}}"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Email Here
             </label>
             <input class="form-control" type="email"  name="email" value="{{profs.email}}"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Joining Date
             </label>
             <input class="datepicker-default form-control" id="datepicker" type="date" name="joining_date" value="{{profs.joining_date}}"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Password
             </label>
             <input class="form-control" type="password" name="password" value="{{profs.password}}"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Confirm Password
             </label>
             <input class="form-control" type="password" name="confirm_password" value="{{profs.confirm_password}}"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Mobile Number
             </label>
             <input class="form-control" type="text" name="mobile" value="{{profs.mobile}}"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Gender
             </label>
             <select class="form-control" name="gender">
              <option value="Gender">
               Gender
              </option>
              <option selected="" value="{{profs.gender}}">
               Male
              </option>
              <option value="{{profs.gender}}">
               Female
              </option>
             </select>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Designation
             </label>
             <input class="form-control" type="text" name="designation" value="{{profs.designation}}"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Department
             </label>
             <select class="form-control" name="department">
              <option value="Department">
               Department
              </option>
              <option value="{{profs.department}}">
               HTML
              </option>
              <option value="{{profs.department}}">
               CSS
              </option>
              <option selected="" value="{{profs.department}}">
               JavaScript
              </option>
              <option value="{{profs.department}}">
               Angular
              </option>
              <option value="{{profs.department}}">
               React
              </option>
              <option value="{{profs.department}}">
               Vue.js
              </option>
              <option value="{{profs.department}}">
               Ruby
              </option>
              <option value="{{profs.department}}">
               PHP
              </option>
              <option value="{{profs.department}}">
               ASP.NET
              </option>
              <option value="{{profs.department}}">
               Python
              </option>
              <option value="{{profs.department}}">
               MySQL
              </option>
             </select>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Date of Birth
             </label>
             <input class="datepicker-default form-control" id="datepicker1" type="date" name="dob" value="{{profs.dob}}"/>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
             <label class="form-label">
              Education
             </label>
             <input class="form-control" type="text" name="education" value="{{profs.education}}"/>
            </div>
           </div>
           <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group fallback w-100">
             <input class="dropify" data-default-file="" type="file" name="image" value="{{prof.image}}"/>
            </div>
           </div>
           <div class="col-lg-12 col-md-12 col-sm-12">
            <button class="btn btn-primary" type="submit">
             Submit
            </button>
            <button class="btn btn-light" type="submit">
             Cencel
            </button>
           </div>
          </div>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>

{% endblock content %}